body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1a1a1a;
    color: white;
}
.nav-container{
    margin-bottom: 50px;
}
h2{
    margin-bottom: 20px;   
}
.nav1{
    background-color: white;
    padding: 10px;
}
.nav1 ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.nav1 a{
    text-decoration: none;
    color: black;
    border-radius: 5px;
    position: relative;
    padding: 5px 15px;
}

.nav1 .login-btn{
    background-color: #254bf6;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav1 .login-btn:hover{
    background-color: rgb(103, 103, 246);
}

.nav1 a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0; 
    height: 2px;
    width: 100%;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: center;

    transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after{
    transform: scaleX(1);
}

.nav2{
    background-color: #327054;
    width: 200px;
    padding: 20px;
}

.nav2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav2 li{
    margin-bottom: 20px;
}

.nav2 a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;   
}

.nav2 a:hover{
    background-color: #269a41;
}

.nav2 .login-btn{
    background-color: rgb(17, 175, 17);
    color: #fff;
    border: none;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.nav2 .login-btn:hover{
    background-color: rgb(30, 188, 30);
}

.nav3{
    background-color: #45a2bb;
    padding: 10px;
}

.nav3 ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav3 a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block; /*This line is reponsible for the vertical positioning of the dropdown elements*/
    position: relative;
}

.nav3 a:hover{
    font-weight: bold;
}

.nav3 .dropdown{
    position: relative;
}

.nav3 .dropdown-content{
    display: none;
    position: absolute;
}

.nav3 .dropdown:hover .dropdown-content{
    display: block;
    position: absolute;
    top: 100%;
    background-color: #45a2bb;
    min-width: 150px;
    color: #254bf6;
    font-size:large;
}

.nav3 .login-btn{
    border: none;
    padding: 10px 20px;
    background-color: rgb(53, 52, 52);
    color: whitesmoke;
    border-radius: 8px;
    cursor: pointer;
}

.nav3 .login-btn:hover{
    background-color: rgb(65, 65, 65);
}

.nav3 a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.nav3 a:hover::after{
    transform: scaleX(1);
}
